<% if @question.errors.any? %>

  <% if @question.errors[:options].any? %>
    $('#modal-scoring-question-modify').find('#options-div').addClass('has-error');
    $('#modal-scoring-question-modify').find('#options-help').text('<%= @question.errors[:options][0] %>');
  <% else %>
    $('#modal-scoring-question-modify').find('#options-div').attr('class', '');
    $('#modal-scoring-question-modify').find('#options-help').text('');
  <% end %>

  <% if @question.errors[:text].any? %>
    $('#modal-scoring-question-modify').find('#text-div').addClass('has-error');
    $('#modal-scoring-question-modify').find('#text-help').text('<%= @question.errors[:text][0] %>');
  <% else %>
    $('#modal-scoring-question-modify').find('#text-div').attr('class', '');
    $('#modal-scoring-question-modify').find('#text-help').text('');
  <% end %>

  <% if @question.errors[:values].any? %>
    $('#modal-scoring-question-modify').find('#values-div').addClass('has-error');
    $('#modal-scoring-question-modify').find('#values-help').text('<%= @question.errors[:values][0] %>');
  <% else %>
    $('#modal-scoring-question-modify').find('#values-div').attr('class', '');
    $('#modal-scoring-question-modify').find('#values-help').text('');
  <% end %>

  <% if @question.type_of == "Essay" %>
    <% if @question.errors[:points].any? %>
      $('#modal-scoring-question-modify').find('#points-div').addClass('has-error');
      $('#modal-scoring-question-modify').find('#points-help').text('<%= @question.errors[:points][0] %>');
    <% else %>
      $('#modal-scoring-question-modify').find('#points-div').attr('class', '');
      $('#modal-scoring-question-modify').find('#points-help').text('');
    <% end %>
  <% end %>

<% else %>
  $('#question-<%= @question.id %>-order').text('<%= @question.order %>');
  $('#question-<%= @question.id %>-type').text('<%= @question.type_of %>');
  $('#question-<%= @question.id %>-options').text('<%= @question.options.join(', ') %>');
  $('#question-<%= @question.id %>-text').text('<%= @question.text %>');
  $('#question-<%= @question.id %>-points').text('<%= @question.points %>');

  <% if @question.type_of == "Essay" %>
    $('#question-<%= @question.id %>-values-div').attr('class', 'hidden');
  <% else %>
    $('#question-<%= @question.id %>-values-div').attr('class', '');
  <% end %>

  $('#question-<%= @question.id %>-values').empty();
  <% @question.values.each_with_index do |value, i| %>
    $('#question-<%= @question.id %>-values').append('<li id="value-<%= i %>-li"><b>Value: </b><span id="value"><%= value[:value] %></span></br><b>Points: </b><span id="points"><%= value[:points] %></span></li>');
  <% end %>

  $('#modal-scoring-question-modify').modal('toggle');
  $('#save-button-li').attr('class', '');
  $('#save-button').attr('href', '/scenarios/<%= @question.scenario.id %>/save');
  update_flash("Added Question '<%= @question.text %>' to Scenario.");
<% end %>