%div.panel.panel-default
  %div.panel-heading.nav.nav-pills
    %li
      %h3 Student Home

  %div.panel-body
    %label Account Information: 
    %div
      %dl
        Name: 
        =@user.name
        %br
        Email:
        =@user.email
        %br
        Password: ********
        %p
        = link_to 'edit', edit_user_registration_path, class: 'btn btn-primary'
        %p
        Last Sign In:
        =@user.last_sign_in_at
        From:
        =@user.last_sign_in_ip

    %label Running Scenarios:
    - if @players.size == 0
      %dl
        none

    - @players.each do |player|
      %dl
        - if scenario = Scenario.find(player.group.scenario_id)
          %label= scenario.name
          %dl
            %b.inline login:
            = player.login
            %br
            %b.inline password:
            = player.password
            %br
            %b.iniline instructions:
            = scenario.instructions
            %br