%div.panel.panel-default
  %div.panel-heading.nav.nav-pills
    %li
      %h3 Student Home

  %div.panel-body
    = render 'helpers/account_information.html.haml'

    %hr

    %label Scenarios:
    %dl
      %table.table
        %tr
          %th Name
          %th Status
          %th Instructor
          %th
        - @scenarios.each do |scenario|
          %tr
            %td= scenario.name
            %td= scenario.status
            %td= scenario.user.name
            %td
              %div.btn-group
                = link_to 'Show', "student/#{scenario.id}", class: 'btn btn-default'
