= simple_form_for(@instance) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :ip_address
    = f.input :driver_id
    = f.input :cookbook_url
    = f.input :os
    = f.input :internet_accessible
    = f.association :subnet

  .form-actions
    = f.button :submit
