%h1 Listing instances

%table
  %tr
    %th Name
    %th Status
    %th Driver
    %th IP_Address
    %th Public_IP_Address
    %th Os
    %th Internet accessible
    %th Subnet
    %th
    %th
    %th
    %th

  - @instances.each do |instance|
    %tr
      %td= instance.name
      %td= instance.status
      %td= instance.driver_id
      %td= instance.ip_address
      %td= instance.provider_instance_public_ip || "Not Set"
      %td= instance.os
      %td= instance.internet_accessible || "false"
      %td= link_to instance.subnet.name, subnet_path(instance.subnet)
      %td= link_to 'Show', instance
      %td= link_to 'Scoring', instance.scoring_page
      %td= link_to 'Edit', edit_instance_path(instance)
      %td= link_to 'Destroy', instance, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Instance', new_instance_path, class: 'btn btn-default'
