%p#notice= notice

%p
  %b Name:
  = @instance.name
%p
  %b Status
  = @instance.status
%p
  %b IP address:
  = @instance.ip_address
- if @instance.internet_accessible && @instance.provider_instance_public_ip
  %p
    %b Public IP address:
    = @instance.provider_instance_public_ip
%p
  %b Driver:
  = @instance.driver_id || "Nil"
%p
  %b UUID:
  = @instance.uuid || "Nil"
%p
  %b Cookbook url:
  - if @instance.cookbook_url
    = link_to @instance.cookbook_url, @instance.cookbook_url
  - else
    = "Nil"
%p
  %b Scoring page:
  - if @instance.scoring_page
    = link_to @instance.scoring_page, @instance.scoring_page
  - else
    = "Nil"
%p
  %b OS:
  = @instance.os
%p
  %b Internet accessible:
  = @instance.internet_accessible || false
%p
  %b Subnet:
  = link_to @instance.subnet.name, subnet_path(@instance.subnet)

%h3 Players 
- @instance.users.each do |player|
  = link_to player.login, player_path(player)
  = link_to player.group.name, group_path(player.group)
  %br
%h3 Administrators
- @instance.administrators.each do |player|
  = link_to player.login, player_path(player)
  = link_to player.group.name, group_path(player.group)
  %br

= link_to 'Edit', edit_instance_path(@instance)
\|
= link_to 'Back', instances_path
