%p#notice= notice

%p
  %b Name:
  = @instance.name
%p
  %b Ip address:
  = @instance.ip_address
%p
  %b Driver:
  = @instance.driver_id || "Nil"
%p
  %b Cookbook url:
  - if @instance.cookbook_url
    = link_to @instance.cookbook_url, @instance.cookbook_url
  - else
    = "Nil"
%p
  %b Os:
  = @instance.os
%p
  %b Internet accessible:
  = @instance.internet_accessible
%p
  %b Subnet:
  = link_to @instance.subnet.name, subnet_path(@instance.subnet)

%h3 Players 
- @instance.users.each do |player|
  = link_to player.login, player_path(player)
  = link_to player.group.name, group_path(player.group)
  %br
%h3 Administrators
- @instance.administrators.each do |player|
  = link_to player.login, player_path(player)
  = link_to player.group.name, group_path(player.group)
  %br

= link_to 'Edit', edit_instance_path(@instance)
\|
= link_to 'Back', instances_path
