= simple_form_for(@instance_group) do |f|
  = f.error_notification

  .form-inputs
    = f.association :group
    = f.association :instance
    = f.input :administrator

  .form-actions
    = f.button :submit
