%h1 Listing instance_groups

%table
  %tr
    %th Group
    %th Instance
    %th Administrator
    %th
    %th
    %th

  - @instance_groups.each do |instance_group|
    %tr
      %td= instance_group.group
      %td= instance_group.instance
      %td= instance_group.administrator
      %td= link_to 'Show', instance_group
      %td= link_to 'Edit', edit_instance_group_path(instance_group)
      %td= link_to 'Destroy', instance_group, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Instance group', new_instance_group_path
