= simple_form_for(@subnet) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :cidr_block
    = f.input :driver_id
    = f.input :internet_accessible
    = f.association :cloud

  .form-actions
    = f.button :submit
