%p#notice= notice

%p
  %b Name:
  = @subnet.name
%p
  %b Cidr block:
  = @subnet.cidr_block
%p
  %b Driver:
  = @subnet.driver_id || "Nil"
%p
  %b Internet accessible:
  = @subnet.internet_accessible
%p
  %b Cloud:
  = link_to @subnet.cloud.name, cloud_path(@subnet.cloud)

%h3 Instances
- @subnet.instances.each do |instance|
  = link_to instance.name, instance_path(instance)
  %br

= link_to 'Edit', edit_subnet_path(@subnet)
\|
= link_to 'Back', subnets_path
