%tr{ id: "user-#{student.user.id}", class: "student-group-user-#{student.id}" }
  %td= check_box_tag "student_group_user_id[]", student.id
  %td= student.user.name
  %td= student.user.email
  %td= student.user.organization
  %td.text-right
    = link_to 'add to student group', '#modal-student-group-user-add', data: {toggle: "modal"}, |
      onclick:  "$('#modal-student-group-user-add').find('#user-name').html('#{student.user.name}');" + |
                "$('#modal-student-group-user-add').find('#student_group_user_id').val('#{student.id}');" + |
                "$('#modal-student-group-user-add').find('#name-div').removeClass('has-error');" + |
                "$('#modal-student-group-user-add').find('#student_group_name').val('');" + |
                "$('#modal-student-group-user-add').find('#name-help').html('');" |
    |
    = link_to 'remove', admin_student_group_user_remove_path(student_group_user_id: student.id), remote: :true, method: :post, data: { confirm: "Are you sure you want to delete Student Group User #{student.user.name}?" }
