%div{ id: "student-group-#{student_group.id}" }

  - if student_group.name != "All"
    %span.pull-right
      = link_to '- delete group', admin_student_group_destroy_path(student_group_id: student_group.id),
          remote: true, method: :post, role: "button",
          data: { confirm: "Are you sure you want to delete Student Group #{student_group.name}?" }
  %label
    = student_group.name + ":"
    = link_to 'expand/collapse', "#student-group-#{student_group.id}",
      data: { toggle: 'collapse', target: "#student-group-#{student_group.id}-collapse", parent: '#student_groups' }

  %div.collapse{ id: "student-group-#{student_group.id}-collapse", class: (student_group.name == "All" ? "in" : "") }

    = form_tag '#', remote: true, method: :post, class: 'form-inline' do

      %table.table{ id: "student-group-#{student_group.id}-table"}
        %tr
          %td
            <a href="javascript:$('#student-group-#{student_group.id} input:checkbox').prop('checked',true);">all</a>,
            <a href="javascript:$('#student-group-#{student_group.id} input:checkbox').prop('checked',false);">none</a>
          %th Name
          %th Email
          %th Organization
          %th
        - student_group.student_group_users.each do |student|
          = render 'student_group_student', student: student, student_group: student_group
        %tr#foot
          %td{ colspan: '5' }
            <a href="javascript:$('#student-group-#{student_group.id} input:checkbox').prop('checked',true);">all</a>,
            <a href="javascript:$('#student-group-#{student_group.id} input:checkbox').prop('checked',false);">none</a>,
            %b with selected:
            - if student_group.name == "All"
              = link_to 'add to ', "javascript:void(0)",
                onclick: "$('#student-group-#{student_group.id} form').attr('action','#{admin_student_group_user_add_path}');$('#student-group-#{student_group.id} form').submit();"
              = (select_tag 'student_group_name',
                options_for_select(StudentGroup.all.select{ |s| s.name != "All" and s.user.id == current_user.id }.collect{ |s| s.name }),
                class: 'form-control input-sm', id: 'student-group-select') + ','
            = link_to 'remove', "javascript:void(0)",
              onclick: "$('#student-group-#{student_group.id} form').attr('action','#{admin_student_group_user_remove_path}');$('#student-group-#{student_group.id} form').submit();"