<% if @instance %>
  <% if @instance_group.errors[:name].any? %>
    $('#modal-group-user-access-add').find('#name-div').addClass('has-error');
    $('#modal-group-user-access-add').find('#name-help').text('<%= @instance_group.errors[:name][0] %>');
  <% else %>
    $('#modal-group-user-access-add').modal('toggle');
    $('#group-<%= @instance_group.group.id %>-user-access').append("<li id='instance-group-<%= @instance_group.id %>'><%= @instance.name %> <a href='/scenarios/<%= @instance.scenario.id %>/group_user_access_remove?instance_group_id=<%= @instance_group.id %>' data-method='post' rel='nofollow' data-remote='true'>remove</a></li>");
  	$('#save-button-li').removeClass('disabled');
    $('#save-button').attr('href', '/scenarios/<%= @instance.scenario.id %>/save');
  	update_flash("Added user access on instance '<%= @instance.name%>' to group '<%= @instance_group.group.name %>'.");
  <% end %>
<% else %>
  $('#modal-group-user-access-add').find('#name-div').addClass('has-error');
  $('#modal-group-user-access-add').find('#name-help').text('Instance not found');
<% end %>