<% if @answer.errors.any? %>
	<% if @answer.errors[:text].any? %>
		$('#question-<%= @question.id %>-answers').find('#help-div').attr('class', 'has-error');
		$('#question-<%= @question.id %>-answers').find('#help-span').text('<%= @answer.errors[:text][0] %>');
	<% end %>
	<% if @answer.errors[:duplicate].any? %>
		$('#question-<%= @question.id %>-answers').find('#help-div').attr('class', 'has-error');
		$('#question-<%= @question.id %>-answers').find('#help-span').text('<%= @answer.errors[:duplicate][0] %>');
	<% end %>
<% else %>
	$('#question-<%= @question.id %>-answers').find('#help-div').attr('class', '');
	$('#question-<%= @question.id %>-answers').find('#help-span').text('');
	$('#question-<%= @question.id %>-answers-table').append('<tr><td><%= @answer.text %></td><td><%= @answer.correct %></td><td><%= @answer.correct ? @answer.question.values[@answer.value_index][:points] : 0 %></td><td><%= @answer.created_at.to_formatted_s(:db) %></td></tr>');
	$('#question-<%= @question.id %>-answers-text-field').val('');
<% end %>