= javascript_include_tag "//www.google.com/jsapi", "chartkick"
%div.panel.panel-default
    %div.panel-heading.nav-nav-pills
	
        %h4
            %b
                %span#scenario-name
                    = @statistic.scenario_name
                    = "created at: "
                    = @statistic.created_at
    = column_chart Statistic.group(:created_at).count
    %div.indent.panel-body    
        // Instructions
        %label
            Bash History:
            %div.indent
                = @statistic.bash_histories
                %p
            Bash Analytics:
            %div.indent
                = @statistic.bash_analytics
                %p
