= javascript_include_tag "//www.google.com/jsapi", "chartkick"
%div.panel.panel-default
    %div.panel-heading.nav-nav-pills
        %h4
            %b
                %span#scenario-name
                    = @statistic.scenario_name
                    = "created at: "
                    = @statistic.created_at
    %div.panel-heading.nav.nav-pills
        %li.dropdown#action-dropdown
            %a.dropdown-toggle{ "data-toggle" => "dropdown", href: "#", role: "button", "aria-expanded" => "false"}
                Users
                %span.caret
            %ul.dropdown-menu{role: "menu"}
                %li
                - bash_users = @statistic.bash_analytics.keys
                - current_userlist = bash_users
                - bash_users.each do |bash_user|
                    %li
                        = link_to bash_user, onclick:""
                %li
                    = link_to 'all users'

        = link_to 'Generate Graph',"#generate-graph", onclick:"", class: 'btn btn-default'
        
    %div.indent.panel-body    
        // Instructions
        %label
            %div.panel.panel-body
                = link_to 'Download', download_statistic_path(@statistic), class: 'btn btn-default'
                = link_to 'All Statistics', statistics_path, class: 'btn btn-default'
                = link_to 'Destroy Statistic', destroyme_statistic_path(@statistic), method: :post, remote: true, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-default'
            %div.panel.panel-body{id: "bash-histories-field"}
                - history_lines = @statistic.bash_histories.split(/\n/)
                - history_lines.each do |line|
                    %br
                    = line
            
