%p#notice= notice

%p
  %b Name:
  = @group.name

%h3 Members
- @group.players.each do |player|
  = link_to player.login, player_path(player)
  %br

%h3 Administrative access to
- @group.administrative_access_to.each do |instance|
  = link_to instance.name, instance_path(instance)
  %br
%h3 User access to
- @group.user_access_to.each do |instance|
  = link_to instance.name, instance_path(instance)
  %br

= link_to 'Edit', edit_group_path(@group)
\|
= link_to 'Back', groups_path
