%h1 Listing instance_roles

%table
  %tr
    %th Instance
    %th Role
    %th
    %th
    %th

  - @instance_roles.each do |instance_role|
    %tr
      %td= instance_role.instance
      %td= instance_role.role
      %td= link_to 'Show', instance_role
      %td= link_to 'Edit', edit_instance_role_path(instance_role)
      %td= link_to 'Destroy', instance_role, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Instance role', new_instance_role_path
