%p#notice= notice

%p
  %b Instance:
  = @instance_role.instance
%p
  %b Role:
  = @instance_role.role

= link_to 'Edit', edit_instance_role_path(@instance_role)
\|
= link_to 'Back', instance_roles_path
