%div.modal#modal-create-instructor{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title= "Create Instructor"
      %div.modal-body#modalbody
        = form_tag admin_instructor_create_path, remote:true, method: :post do 
          %div#email-div
            This will assign a random password for the instructor and will automatically send an email to the instructor with their credentials.
            %p
            = label_tag nil, 'Email:', class: 'control-label'
            = text_field_tag :email, nil, class: 'form-control'
            %span.help-block.inline#email-help
          %div#name-div
            = label_tag nil, 'Name:', class: 'control-label'
            = text_field_tag :name, nil, class: 'form-control'
            %span.help-block.inline#name-help
          %div#organization-div
            = label_tag nil, 'Organization:', class: 'control-label'
            = text_field_tag :organization, nil, class: 'form-control'
            %span.help-block.inline#organization-help
          %p
          = submit_tag 'Create', :class => 'btn btn-default'

      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          close
