%div.modal#modal-student-group-user-add{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Add User to Student Group
      %div.modal-body#modalbody
        = form_tag admin_student_group_user_add_path(@scenario), remote: true, method: :post do
          = label_tag nil, "User:"
          %span#user-name
          = hidden_field_tag 'student_group_user_id'
          %div#name-div
            = label_tag nil, "Student Group Name:"
            = text_field_tag "student_group_name", nil, class: 'form-control'
            %span.help-block.inline#name-help
          %br
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close
