= simple_form_for(@clouds) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :cidr_block
    = f.input :driver_id
    = f.association :scenario

  .form-actions
    = f.button :submit
