%nav.navbar.navbar-default
  %a.navbar-brand
    Help Documentation 

  %ul.nav.nav-tabs

    %li{role: 'presentation' }
      = link_to 'Help Docs', tutorials_path

    %li{role: 'presentation', class: params[:controller] == 'tutorials' ? "active" : "" }
      = link_to 'SSH Inception Help', tutorials_ssh_inception_path
     
    %li{role: 'presentation'}
      = link_to 'Total Recon Help', tutorials_total_recon_path

    %li{role: 'presentation'}
      = link_to 'Student Manual', tutorials_student_manual_path


%article{:role => "article", :class => "span9"}

  %h2 
    SSH Inception Help

  %font{:size => 4}
    Welcome to the Help page for the scenario SSH Inception. The purpose of this scenario
    is to familiarize you with the basics of ssh. We have also included some advanced
    challenges for students at more advanced levels.
    <br/>
    <br/>

  %font{:size => 4}
    %li
      %a
        = link_to 'Putty Download', 'http://www.putty.org/'
      <br/> Putty is an SSH and telnet client, because unlike every mature opperating system
      on the planet, Windows still doesn't ship with one.
      <br/>
      <br/>
    %li
      %a
        = link_to 'Dartmouth Putty Tutorial', 'http://www.cs.dartmouth.edu/~campbell/cs50/putty-cygwin-tutorial.pdf'
      <br/> A tutorial for Windows users new to Putty.
      <br/>
      <br/>
    %li
      %a
        = link_to 'SSH Tutorial', 'http://support.suso.com/supki/SSH_Tutorial_for_Linux'
      <br/> This is an introduction and tutorial to ssh on linux, but it mostly applies to ssh on
      OSX as well. In the ssh_inception scenario, you will practice using ssh to connect from
      one server to the next, and then the next...
      <br/>
      <br/>

    %li
      %a
        = link_to 'Linux Command Tutorial', 'http://linuxcommand.org/lc3_lts0020.php'
      <br/> This site is a great resource for learning the basics of bash. This knowledge is
      essential for managing machines remotely.
      <br/>
      <br/>
    %li
      %a
        = link_to 'FTP Tutorial', 'http://www.webmonkey.com/2010/02/ftp_for_beginners/'
      <br/> FTP is much worse than SCP. If you have the choice, only use SCP. In reality,
      many people still use FTP, for goodness knows what reason.
      <br/>
      <br/>
    
        
