%nav.navbar.navbar-default
  %a.navbar-brand
    Help Documentation 

  %ul.nav.nav-tabs

    %li{role: 'presentation' }
      = link_to 'Help Docs', tutorials_path

    %li{role: 'presentation' }
      = link_to 'SSH Inception Help', tutorials_ssh_inception_path
     
    %li{role: 'presentation', class: params[:controller] == 'tutorials' ? "active" : "" }
      = link_to 'Total Recon Help', tutorials_total_recon_path

    %li{role: 'presentation'}
      = link_to 'Student Manual', tutorials_student_manual_path


%article{:role => "article", :class => "span9"}

  %h2 
    Total Recon Help

  %font{:size => 4}
    Welcome to the Help page for the scenario Total Recon. The purpose of this scenario
    is to teach the basics of nmap, the network mapper.
  %br
  %br
  %font{:size => 4}
    %li
      %a
        = link_to 'nmap man page', 'http://linuxcommand.org/man_pages/nmap1.html'
      <br/> This is a copy of the nmap man page. You can also look at this with [man nmap],
      but it can be useful to have a copy you can view from your browser as well.
      <br/>
      <br/>
    %li
      %a
        = link_to 'nmap tutorial', 'https://nmap.org/bennieston-tutorial/'
      <br/> The nmap.org site provides a lot of documentation. This tutorial is a good place
      to get started. Of course, all of this information can be found in the nmap man page
      [man nmap], but it can be somewhat difficult to find the right option. Remember that nmap
      is not just a command -- it's a network reconnaissance tool with broad functionality.
      <br/>
      <br/>

    %li
      %a
        = link_to 'netcat help', 'http://www.cyberciti.biz/faq/linux-port-scanning/'
      <br/> There are times when nmap is not available. When you find yourself with no where
      else to turn, there is netcat. Be not afraid.
      <br/>
      <br/>
