<% if @instance.errors.any? %>
  <% if @instance.errors[:name].any? %>
    $('#modal-instance-modify').find('#name-div').addClass('has-error');
    $('#modal-instance-modify').find('#name-help').text('<%= @instance.errors[:name][0] %>');
  <% else %>
    $('#modal-instance-modify').find('#name-div').removeClass('has-error');
    $('#modal-instance-modify').find('#name-help').text('');
  <% end %>
  <% if @instance.errors[:ip_address].any? %>
    $('#modal-instance-modify').find('#ip-div').addClass('has-error');
    $('#modal-instance-modify').find('#ip-help').text('<%= @instance.errors[:ip_address][0] %>');
  <% else %>
    $('#modal-instance-modify').find('#ip-div').removeClass('has-error');
    $('#modal-instance-modify').find('#ip-help').text('');
  <% end %>
  <% if @instance.errors[:internet_accessible].any? %>
    $('#modal-instance-modify').find('#internet-accessible-div').addClass('has-error');
    $('#modal-instance-modify').find('#internet-accessible-help').text('<%= @instance.errors[:internet_accessible][0] %>');
  <% else %>
    $('#modal-instance-modify').find('#internet-accessible-div').removeClass('has-error');
    $('#modal-instance-modify').find('#internet-accessible-help').text('');
  <% end %>
  <% if @instance.errors[:os].any? %>
    $('#modal-instance-modify').find('#os-div').addClass('has-error');
    $('#modal-instance-modify').find('#os-help').text('<%= @instance.errors[:os][0] %>');
  <% else %>
    $('#modal-instance-modify').find('#os-div').removeClass('has-error');
    $('#modal-instance-modify').find('#os-help').text('');
  <% end %>
  <% if @instance.errors[:running].any? %>
    $('#modal-instance-modify').find('#help-div').addClass('has-error');
    $('#modal-instance-modify').find('#help-help').text('<%= @instance.errors[:running][0] %>');
  <% else %>
    $('#modal-instance-modify').find('#help-div').removeClass('has-error');
    $('#modal-instance-modify').find('#help-help').text('');
  <% end %>
<% else %>
  <% if @accessible_to_not_accessible %>
    $('#instance-<%= @instance.id %>-public-ip-div').remove();
  <% elsif @not_accessible_to_accessible %>
    $('#instance-<%= @instance.id %>-accessible-options').append("<div id='instance-<%= @instance.id %>-public-ip-div'>Public IP: <span id='instance-<%= @instance.id %>-public-ip'><%= @instance.provider_instance_public_ip ? @instance.provider_instance_public_ip : 'not set' %></span><br>SSH Ready: <span id='instance-<%= @instance.id %>-ssh-ready'><%= @instance.ssh_ready? ? 'true' : '-' %></span></div>")
  <% end %>

  <% @instance.instance_groups.each do |instance_group| %>
    $('#instance-group-<%= instance_group.id %>').find('#name').html('<%= @instance.name %>');
  <% end %>

  $('#instance-<%= @instance.id %>-name').text('<%= @instance.name %>');
  $('#instance-<%= @instance.id %>-ip-address').text('<%= @instance.ip_address %>');
  $('#instance-<%= @instance.id %>-internet-accessible').text('<%= @instance.internet_accessible %>');
  $('#instance-<%= @instance.id %>-os').text('<%= @instance.os %>');
  $('#modal-instance-modify').modal('toggle');
  $('#save-button-li').attr('class', '');
  $('#save-button').attr('href', '/scenarios/<%= @instance.scenario.id %>/save');
  update_flash("Modified instance '<%= @instance.name %>'.");
<% end %>