<% if @instance.errors.any? %>
  <% if @instance.errors[:role_name].any? %>
    $('#modal-instance-role-add').find('#name-div').addClass('has-error');
    $('#modal-instance-role-add').find('#name-help').text('<%= @instance.errors[:role_name][0] %>');
  <% end %>
  <% if @instance.errors[:running].any? %>
    $('#modal-instance-role-add').find('#help-div').addClass('has-error');
    $('#modal-instance-role-add').find('#help-help').text('<%= @instance.errors[:running][0] %>');
  <% else %>
    $('#modal-instance-role-add').find('#help-div').removeClass('has-error');
    $('#modal-instance-role-add').find('#help-help').text('');
  <% end %>
<% else %>
  $('#instance-<%= @instance.id %>-roles').append("<li id='instance-role-<%= @instance_role.id %>'><%= @instance_role.role.name %> <a href='/scenarios/<%= @instance.scenario.id %>/instance_role_remove?instance_role_id=<%= @instance_role.id %>' data-method='post' rel='nofollow' data-remote='true'>remove</a></li>")
  $('#modal-instance-role-add').modal('toggle');
  $('#save-button-li').attr('class', '');
  $('#save-button').attr('href', '/scenarios/<%= @instance.scenario.id %>/save');
  update_flash("Added role '<%= @instance_role.role.name %>' to instance '<%= @instance.name %>'.");
<% end %>