%h1 Listing clouds

%table
  %tr
    %th Name
    %th Status
    %th Cidr block
    %th Driver
    %th Scenario
    %th
    %th
    %th

  - @clouds.each do |cloud|
    %tr
      %td= cloud.name
      %td= cloud.status
      %td= cloud.cidr_block
      %td= cloud.driver_id || "Nil"
      %td= link_to cloud.scenario.name, scenario_path(cloud.scenario)
      %td= link_to 'Show', cloud
      %td= link_to 'Edit', edit_cloud_path(cloud)
      %td= link_to 'Destroy', cloud, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Cloud', new_cloud_path
