%p#notice= notice

%p
  %b Name:
  = @cloud.name
%p
  %b Status:
  = @cloud.status
%p
  %b Cidr block:
  = @cloud.cidr_block
%p
  %b Driver_ID:
  = @cloud.driver_id || "Nil"
%p
  %b Scenario:
  = link_to @cloud.scenario.name, scenario_path(@cloud.scenario)

%h3 Subnets
- @cloud.subnets.each do |subnet|
  = link_to subnet.name, subnet_path(subnet)
  %br

%br
= link_to 'Edit', edit_cloud_path(@cloud)
\|
= link_to 'Back', clouds_path
