%p#notice= notice

%p
  %b Login:
  = @player.login
%p
  %b Password:
  = @player.password
%p
  %b Group:
  = @player.group

= link_to 'Edit', edit_player_path(@player)
\|
= link_to 'Back', players_path
