%li
  %input{ type: 'checkbox', id: 'item-0', checked: 'checked'}
    %label{ for: 'item-0' }
      = instance.name
      %div{ class: 'inline-block ' + instance.status, id: 'instance-status-dot-'+instance.id.to_s}
        &#9679;

      - if instance.booting?
        %div.spin.inline-block{ id: 'instance-spinner-' + instance.id.to_s}
      - else
        %div.inline-block{ id: 'instance-spinner-' + instance.id.to_s}

    %div.inline-block
      %div.dropdown
        %button.btn.btn-default.dropdown-toggle{type:'button', id:'dropdown-instance-'+instance.id.to_s, "data-toggle" => 'dropdown', "aria-expanded" => "true"}
          / %span.glyphicon.glyphicon-pencil{"aria-hidden" => "true"}
          %span.caret
        %ul.dropdown-menu{role: 'menu', "aria-labelledby" => 'dropdown-instance'+instance.id.to_s}
          %li{role: 'presentation'}
            = link_to 'Show log', getlog_scenario_path(instance, kind: 'instance'), remote: true

    %ul{style: "padding-left: 20px;"}
      %li
        Status:
        %span{id: 'instance-status-' + instance.id.to_s}
          = instance.status
      %li
        Driver:
        %span{id: 'instance-driver-' + instance.id.to_s}
          = instance.driver_id == nil ? "not set" : instance.driver_id
      %li
        IP:
        = instance.ip_address
      %li
        Internet Accessible:
        = instance.internet_accessible
      - if instance.internet_accessible
        %li
          Public IP:
          - ip = instance.provider_instance_public_ip ? instance.provider_instance_public_ip : 'not set'
          %span{id: 'instance-public-ip-' + instance.id.to_s}
            = ip
          %br
          Reachable:
          %span{id: 'instance-ssh-ready-' + instance.id.to_s}
            = instance.ssh_ready?
