%div.modal#modal1{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          %span#modal-log-name
          \- Log

      %div.modal-body#modalbody
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-modify{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title= "Modifypath: #{@scenario.name}"
      %div.modal-body#modalbody
        = form_tag modify_scenario_path(@scenario), remote:true do 
          = label_tag "Name:", nil, class: 'control-label'
          = text_field_tag "name", nil, class: 'form-control'
          %p
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-modify-cloud{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Modify:
          %span#modal-title
      %div.modal-body#modalbody
        = form_tag modify_cloud_scenario_path(@scenario), remote:true do 
          = hidden_field_tag 'cloud_id'
          = label_tag "Name:", nil, class: 'control-label'
          = text_field_tag "name", nil, class: 'form-control'
          %p
          %div#cidr-div
            = label_tag nil, "CIDR:", class: 'control-label'
            = text_field_tag "CIDR", nil, class: 'form-control'
            %span.help-block.inline#cidr-help
          %p
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-modify-subnet{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Modify:
          %span#modal-title
      %div.modal-body#modalbody
        = form_tag modify_subnet_scenario_path(@scenario), remote:true do 
          = hidden_field_tag 'subnet_id'
          = label_tag "Name:", nil, class: 'control-label'
          = text_field_tag "name", nil, class: 'form-control'
          %p
          %div#cidr-div
            = label_tag nil, "CIDR:", class: 'control-label'
            = text_field_tag "CIDR", nil, class: 'form-control'
            %span.help-block.inline#cidr-help
          %p
          %div#internet-accessible-div
            = label_tag nil, "Internet Accessible:", class: 'control-label'
            = text_field_tag "internet_accessible", nil, class: 'form-control'
          %p

          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-add-cloud{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          = "#{@scenario.name} - Add Cloud"
          %span#modal-title
      %div.modal-body#modalbody
        = form_tag add_cloud_scenario_path(@scenario), remote:true do 
          %div#cidr-div
            = label_tag "Name:", nil, class: 'control-label'
            = text_field_tag "name", nil, class: 'form-control'
            %span.help-block.inline#name-help
          %p
          %div#cidr-div
            = label_tag nil, "CIDR:", class: 'control-label'
            = text_field_tag "CIDR", nil, class: 'form-control'
            %span.help-block.inline#cidr-help
          %p
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-add-subnet{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          = "#{@scenario.name} - Add Subnet"
          %span#modal-title
      %div.modal-body#modalbody
        = form_tag add_subnet_scenario_path(@scenario), remote:true do 
          %div#cidr-div
            = label_tag "Name:", nil, class: 'control-label'
            = text_field_tag "name", nil, class: 'form-control'
            %span.help-block.inline#name-help
          %p
          %div#cidr-div
            = label_tag nil, "CIDR:", class: 'control-label'
            = text_field_tag "CIDR", nil, class: 'form-control'
            %span.help-block.inline#cidr-help
          %p
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-add-instance{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          = "#{@scenario.name} - Add Instance"
          %span#modal-title
      %div.modal-body#modalbody
        = form_tag add_cloud_scenario_path(@scenario), remote:true do 
          %div#cidr-div
            = label_tag "Name:", nil, class: 'control-label'
            = text_field_tag "name", nil, class: 'form-control'
            %span.help-block.inline#name-help
          %p
          %div#cidr-div
            = label_tag nil, "CIDR:", class: 'control-label'
            = text_field_tag "CIDR", nil, class: 'form-control'
            %span.help-block.inline#cidr-help
          %p
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close