%h1 New scenario

/= render 'form'


- @templates.each do |template|
  %b Name:
  = template[0]
  %br
  %span.label Description:
  = template[2]
  %br
  = simple_form_for(@scenario) do |f|
    = f.hidden_field :template, :value => template[1]
    = f.button :submit, 'Create ' + template[0], class: 'btn btn-primary'
  %p

= link_to 'Back', scenarios_path


