
%div.panel.panel-default
  %div.panel-heading.nav.nav-pills
    %li
      %h4#scenario-new-title
        New Scenario:
    / %li
    /   = link_to 'Default Scenarios', new_scenario_path(@scenario)
    %li
      / # = link_to 'Upload Scenario'
      / = form_tag upload_scenario_path(@scenario) do
      /   = file_field_tag :yml
      /   = submit_tag "Upload Scenario", class: 'btn'

  %div.panel-body
    %h3 Default Scenarios:
    %ul
      - @templates.each do |template|
        %b Name:
        = template[0]
        %br
        / %span.label Description:
        %b Description:
        = template[2]
        %p
        = simple_form_for(@scenario) do |f|
          = f.hidden_field :template, :value => template[0]
          = f.button :submit, 'Create ' + template[0], class: 'btn btn-primary'
        %p
        %br

    %h3 My Scenarios:
    %ul
      - @templates_user.each do |template|
        %b Name:
        = template[0]
        %br
        / %span.label Description:
        %b Description:
        = template[2]
        %p
        = simple_form_for(@scenario) do |f|
          = f.hidden_field :template, :value => template[0]
          = f.button :submit, 'Create ' + template[0], class: 'btn btn-primary'
        %p
        %br

    = link_to 'Back', scenarios_path


