= subscribe_to "/scenarios/#{@scenario.id}"
%div#scenario{data: {id: @scenario.id}}
  %p
    %b Name:
    = @scenario.name
  %p
    %b Status:
    = @scenario.status
  %p
    %b description
    = @scenario.description

%h3 Clouds
- @scenario.clouds.each do |cloud|
  = link_to cloud.name, cloud_path(cloud)
  %br
%h3 Boot Progress
%ul
  %li
    %span#cloud-count
      = @cloud_booted
    %span#cloud-count
      of
      = @cloud_count
      Clouds
  %li
    %span#subnet-count
      = @subnet_booted
    %span#subnet-total
      of 
      = @subnet_count
      Subnets
  %li
    %span#instance-count
      = @instance_booted
    %span#instance-total
      of
      = @instance_count
      Instances
%h3 Console Log
%pre#console
  - if @scenario.log
    = @scenario.log


%div.btn-group
  = link_to 'Boot', boot_scenario_path(@scenario), class: 'btn btn-primary'
  = link_to 'Edit', edit_scenario_path(@scenario), class: 'btn btn-default'
  = link_to 'Back', scenarios_path, class: 'btn btn-default'
