= subscribe_to "/scenarios/#{@scenario.id}"
%div.panel.panel-default#scenario{data: {id: @scenario.id}}
  %div.panel-heading
    %b
      Scenario - 
      =@scenario.name
  %div.panel-body
    %dl
      %dt Status:
      %dd= @scenario.status
      %dt Description:
      %dd= @scenario.description

    %div.page-header
      %h3 Clouds [ ]

    %dl
      %br
      - @scenario.clouds.each do |cloud|
        %dt= link_to cloud.name, cloud_path(cloud)

    %div.page-header
      %h3 Boot Progress

    %dl
      %dt
        Clouds Booted:
      %dd
        %span#cloud-count
          = @cloud_booted
        of 
        %span#cloud-total
          = @cloud_count
      %dt
        Subnets Booted:
      %dd
        %span#subnet-count
          = @subnet_booted
        of
        %span#subnet-total
          = @subnet_count

      %dt
        Instances Booted:
      %dd
        %span#instance-count
          = @instance_booted
        of
        %span#instance-total
          = @instance_count

  %h3#console-header Console Log
  %pre#console
    - until @scenario.log
      = @scenario.log


  %div.btn-group#scenario-buttons
    = link_to 'Boot', boot_scenario_path(@scenario), class: 'btn btn-primary'
    = link_to 'dev_boot', dev_boot_scenario_path(@scenario), class: 'btn btn-default'
    = link_to 'Edit', edit_scenario_path(@scenario), class: 'btn btn-default'
    = link_to 'Back', scenarios_path, class: 'btn btn-default'
