= subscribe_to "/scenarios/#{@scenario.id}"
%div.panel.panel-default#scenario{data: {id: @scenario.id}}
  %div.panel-heading
    %b
      Scenario -
      =@scenario.name
  %div.panel-body
    %dl
      %dt
        %h4 Description:
        %dl
          %dt= @scenario.description

    %dl
      %dt
        %h4 Questions:
        %dl
          %dt= link_to 'questions', '/scoring/instructor/' + @scenario.id.to_s
          %dt= link_to 'answer_dump', scoring_answer_dump_path(scenario: @scenario)

    %div.page-header
      %h4 Players
      %dl
        - @scenario.get_groups.each do |group|
          %span.inline
            = "Team: " + group.name
            &nbsp&nbsp&nbsp
          = form_tag modify_players_scenario_path(group: group), class: "inline" do
            = select_tag "studentGroupName", options_for_select(@user.student_groups.pluck(:name))
            = submit_tag "add", name: "add"
            = submit_tag "remove", name: "remove"
          %dl
            %table
              %tr
                %th Name
                %th Email
                %th Login
                %th Password
                %th Student Group
                %th Answers
                %th Answered
                / %th Score
              - group.players.each do |player|
                %tr
                  - if player.user_id
                    - user = User.find(player.user_id)
                    %td= user.name
                    %td= user.email
                  - else
                    %td
                    %td
                  %td= player.login
                  %td= player.password
                  - if player.student_group
                    %td= player.student_group.name
                    %td= link_to 'answers', "/scoring/instructor_student/#{@scenario.id}/#{player.user_id}"
                    %td
                      - cnt = @scenario.questions.select{ |q| q.answers and q.answers.where("student_id = #{player.user_id}").size > 0 }.size
                      - total = @scenario.questions.size
                      %span{id: "answered-student-#{player.user_id}"}
                        = "#{cnt}/#{total}"
                    / %td= "#{correct}/#{total}"
                  - else
                    %td
                    %td

    %div.page-header
      %h4 Boot Progress
      %dl
        %dt.inline Status:
        %span#scenario-status
          = @scenario.status

        - if @scenario.status == "booted"
          %span.booted#scenario-status-dot
            &#9679;
        - elsif @scenario.status == "boot_failed" or @scenario.status == "unboot_failed"
          %span.failed#scenario-status-dot
            &#9679;
        - else
          %span.stopped#scenario-status-dot
            &#9679;

        %br
        %dt.inline
          Clouds Booted:
        %span#cloud-count
          = @cloud_booted
        of
        %span#cloud-total
          = @cloud_count
        %br
        %dt.inline
          Subnets Booted:
        %span#subnet-count
          = @subnet_booted
        of
        %span#subnet-total
          = @subnet_count
        %br
        %dt.inline
          Instances Booted:
        %span#instance-count
          = @instance_booted
        of
        %span#instance-total
          = @instance_count

  %div.btn-group#scenario-buttons
    - if @scenario.is_booted? or @scenario.is_failed?
      - boot_button_text = "Unboot"
    - elsif @scenario.is_stopped?
      - boot_button_text = "Boot"
    - elsif @scenario.is_booting?
      - boot_button_text = "booting..."

    = link_to boot_button_text, boot_toggle_scenario_path(@scenario), remote:true, class: 'btn btn-primary', id: "boot-button"

    = link_to 'Back', scenarios_path, class: 'btn btn-default'
    = link_to 'Destroy', @scenario, :method => :delete, class: 'btn btn-default'
    = link_to 'Test Console', test_console_scenario_path(@scenario), remote:true, class: 'btn btn-default'

    %p
    %span#boot-message

  %h4#console-header Console Log
  %pre#console
    - until @scenario.log
      = @scenario.log

  %h4 Instructions
  %dl
    = @scenario.instructions

  / %h4 Scoring
  / %dl
  /   = link_to 'Instructor View', '/scoring/instructor/' + @scenario.id.to_s
  /   \- shows questions and answers
  /   %p
  /   = link_to 'Student View', '/scoring/student/' + @scenario.id.to_s
  /   \- shows only questions, lets you answer them

  %h4 Resources
  - @scenario.clouds.each do |cloud|
    %dl
      Cloud:
      %b= cloud.name
      status:
      = cloud.status
      , driver:
      = cloud.driver_id
      %p
      - cloud.subnets.each do |subnet|
        %dl
          Subnet:
          %b= subnet.name
          status:
          = subnet.status
          %p
          - subnet.instances.each do |instance|
            %dl
              Instance:
              %b=instance.name
              IP Address:
              =instance.ip_address
              - if instance.internet_accessible
                , Public IP:
                %span#public-ip
                  - if instance.provider_instance_public_ip
                    =instance.provider_instance_public_ip
                  - else
                    Not Set
              %p
  / %h4 Documentation
  / %dl
  /   = link_to 'here', "/documentation/scenarios/#{@scenario.name}"