= render '/scenarios/show/modals'

%div.panel.panel-default#scenario{data: {id: @scenario.id}}
  %div.panel-heading.nav.nav-pills
    %li
      %h4#scenario-main-title
        =@scenario.name + ":"
    %li.dropdown#action-dropdown
      %a.dropdown-toggle{ "data-toggle" => "dropdown", href: "#", role: "button", "aria-expanded" => "false"}
        Actions
        %span.caret
      %ul.dropdown-menu{role: "menu"}
        %li
          - if @scenario.stopped?
            - boot_class = ""
            - unboot_class = "hidden"
          - elsif @scenario.booting?
            - boot_class = ""
            - unboot_class = "hidden"
          - elsif (@scenario.booted? or @scenario.boot_failed?)
            - boot_class = "hidden"
            - unboot_class = ""
          - elsif @scenario.is_failed?
            - boot_class = "hidden"
            - unboot_class = ""

          = link_to 'Boot', boot_scenario_path(@scenario), method: :post, remote:true, id: 'boot-button', class: boot_class
          = link_to 'Unboot', unboot_scenario_path(@scenario), method: :post, remote:true, id: 'unboot-button', class: unboot_class

          / = link_to 'Pause'
          = link_to 'Destroy', destroyme_scenario_path(@scenario), method: :post, remote: true
          = link_to 'Show Boot Log', getlog_scenario_path(@scenario, kind: 'scenario'), method: :post, remote: true
          = link_to 'Save Changes', save_changes_scenario_path(@scenario), method: :post, remote: true

  %div.panel-body

    %div.css-treeview
      %ul
        %li
          %input{ type: 'checkbox', id: 'item-instructions', checked: 'checked'}
          %label{ for: 'item-instructions'}
            Instructions
          %ul
            = @scenario.instructions
        %p
        %li
          = render '/scenarios/show/scenario'
        %li
          = render '/scenarios/show/players'

= link_to 'Back', scenarios_path, class: 'btn btn-default'

%script
  = "get_boot_status('#{@scenario.id}');"