%div.modal#modal1{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          %span#modal-log-name
          \- Log

      %div.modal-body#modalbody
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

/ = link_to 'modal', "#modal1", :data => {:toggle=>"modal"}

%div.panel.panel-default#scenario{data: {id: @scenario.id}}
  %div.panel-heading.nav.nav-pills
    %li
      %h4
        =@scenario.name + ":"
    %li.dropdown#action-dropdown
      %a.dropdown-toggle{ "data-toggle" => "dropdown", href: "#", role: "button", "aria-expanded" => "false"}
        Actions
        %span.caret
      %ul.dropdown-menu{role: "menu"}
        %li
          - if @scenario.stopped?
            = link_to 'Boot', boot_toggle_scenario_path(@scenario), remote:true, id: 'boot-button'
          - elsif @scenario.booting?
            = link_to 'Boot', '#', id: 'boot-button'
          - elsif (@scenario.booted? or @scenario.boot_failed?)
            = link_to 'Unboot', boot_toggle_scenario_path(@scenario), remote:true, id: 'boot-button'
          - elsif @scenario.is_failed?
            = link_to 'Unboot', boot_toggle_scenario_path(@scenario), remote:true, id: 'boot-button'
          = link_to 'Pause'
          = link_to 'Destroy', @scenario, :method => :delete
          = link_to 'Show Boot Log', getlog_scenario_path(@scenario, kind: 'scenario'), remote: true

  %div.panel-body

    %div.css-treeview
      %ul
        %li
          %input{ type: 'checkbox', id: 'item-instructions', checked: 'checked'}
          %label{ for: 'item-instructions'}
            Instructions
          %ul
            Item 1
        %p
        %li
          = render '/scenarios/resources'
        %li
          = render '/scenarios/players'

= link_to 'Back', scenarios_path, class: 'btn btn-default'

%script
  = "get_boot_status('#{@scenario.id}');"