%div{ id: "student-group-#{student_group.id}" }
  %div.row
    %div.col-sm-6
      = link_to student_group.name, "#student-group-#{student_group.id}",
          data: { toggle: 'collapse', target: "#student-group-#{student_group.id}-collapse", parent: '#student-groups' }
    %div.col-sm-6 
      - if student_group.name != "All"
        = link_to 'delete group', instructor_student_group_destroy_path(student_group_id: student_group.id), class: 'small pull-right',
            remote: true, method: :post, data: { confirm: "Are you sure you want to delete Student Group #{student_group.name}?" }
  
  %div.collapse{ id: "student-group-#{student_group.id}-collapse" }
  
    = form_tag (student_group.name == "All" ? instructor_student_group_user_add_path(scenario) : instructor_student_group_user_remove_path(scenario)),
        remote: true, method: :post, class: 'form-inline' do
  
      %table.table{ id: "student-group-#{student_group.id}-table"}
        %tr
          %th
          %th Name
          %th Email
          %th Organization
          %th
        = render partial: 'instructor/student_group_table_entry',
            collection: student_group.student_group_users,
            as: :sgu, locals: { student_group: student_group }
  
      - if student_group.name == "All"
        %div.form-group.form-group-sm
          = link_to 'add selected to group', "javascript:void(0)", onclick: "$('#student-group-#{student_group.id} form').submit();"
        %div.form-group.form-group-sm
          = select_tag 'student_group_name', options_for_select(StudentGroup.all.select{ |s| s.name != "All" }.collect{ |s| s.name }),
              include_blank: true, class: 'form-control input-sm'
      - else
        %div.form-group.form-group-sm
          = link_to 'remove selected from group', "javascript:void(0)", onclick: "$('#student-group-#{student_group.id} form').submit();"
  
  %hr
