%div.panel.panel-default{ id: "student-group-#{student_group.id}" }

  %div.panel-heading
    %h4.panel-title
      = link_to student_group.name, "#student-group-#{student_group.id}",
          data: { toggle: 'collapse', target: "#student-group-#{student_group.id}-collapse", parent: '#student-groups' }

  %div.panel-collapse.collapse{ id: "student-group-#{student_group.id}-collapse", class: (student_group.name == "All" ? "in" : "") }
  
    = form_tag (student_group.name == "All" ? instructor_student_group_user_add_path(scenario) : instructor_student_group_user_remove_path(scenario)),
        remote: true, method: :post, class: 'form-inline' do
    
      %table.table{ id: "student-group-#{student_group.id}-table"}
        %tr
          %td
            <a href="javascript:$('#student-group-#{student_group.id} input:checkbox').prop('checked', true);">all</a>,
            <a href="javascript:$('#student-group-#{student_group.id} input:checkbox').prop('checked', false);">none</a>
          %th Name
          %th Email
          %th Organization
          %th
        = render partial: 'partials/student_group_table_entry',
            collection: student_group.student_group_users,
            as: :sgu, locals: { student_group: student_group }
        %tr#foot
          %td
            <a href="javascript:$('#student-group-#{student_group.id} input:checkbox').prop('checked', true);">all</a>,
            <a href="javascript:$('#student-group-#{student_group.id} input:checkbox').prop('checked', false);">none</a>
          %td{ colspan: "4" }
            - if student_group.name == "All"
              = link_to 'add selected to ', "javascript:void(0)", onclick: "$('#student-group-#{student_group.id} form').submit();"
              = select_tag 'student_group_name', options_for_select(StudentGroup.all.select{ |s| s.name != "All" }.collect{ |s| s.name }),
                  include_blank: "student group", class: 'form-control input-sm'
            - else
              = link_to 'remove selected from group', "javascript:void(0)", onclick: "$('#student-group-#{student_group.id} form').submit();"

      - if student_group.name != "All"
        %div.panel-footer.text-right
          = link_to '- delete group', instructor_student_group_destroy_path(student_group_id: student_group.id),
              remote: true, method: :post, role: "button",
              data: { confirm: "Are you sure you want to delete Student Group #{student_group.name}?" }
