%div.modal#modal-student-group-create{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Create Student Group
      %div.modal-body#modalbody
        = form_tag instructor_student_group_create_path(@scenario), remote: true, method: :post do 
          %div#name-div
            = label_tag nil, "Name:"
            = text_field_tag "name", nil, class: 'form-control'
            %span.help-block.inline#name-help
          %br
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-student-group-user-add{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Add User to Student Group
      %div.modal-body#modalbody
        = form_tag instructor_student_group_user_add_path(@scenario), remote: true, method: :post do
          = label_tag nil, "User:"
          %span#user-name
          = hidden_field_tag 'user_id'
          %div#name-div
            = label_tag nil, "Student Group Name:"
            = text_field_tag "student_group_name", nil, class: 'form-control'
            %span.help-block.inline#name-help
          %br
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.panel.panel-default
  %div.panel-heading.nav.nav-pills
    %li
      %h3
        Instructor Home

  %div.panel-body
    %label Account Information: 
    %div
      %dl
        Name: 
        =@user.name
        %br
        Email:
        =@user.email
        %br
        Password: ********
        %p
        = link_to 'edit', edit_user_registration_path, class: 'btn btn-primary'
        %p
        Last Sign In:
        =@user.last_sign_in_at
        From:
        =@user.last_sign_in_ip

    %label Registration Code:
    %dl
      = @user.registration_code
    %p

    %label Student Groups:
    = link_to 'Create Student Group', '#modal-student-group-create', data: {toggle: "modal"}, class: 'btn btn-primary', onclick: "$('#modal-student-group-create').find('#name-div').removeClass('has-error'); $('#modal-student-group-create').find('#name').val(''); $('#modal-student-group-create').find('#name-help').html(''); "
    %dl{ id: "student-groups" }
      - @user.student_groups.each do |student_group|
        %div{ id: "student-group-#{student_group.id}"}
          %label
            = student_group.name
          - if student_group.name != "All"
            = link_to 'delete', instructor_student_group_destroy_path(student_group_id: student_group.id), remote: true, method: :post, data: { confirm: "Are you sure you want to delete Student Group #{student_group.name}?" }
          %table.table{ id: "student-group-#{student_group.id}-table"}
            %tr
              %th Name
              %th Email
              %th Organization
              %th
              %th
            - student_group.student_group_users.each do |sgu|
              %tr{ id: "student-group-user-#{sgu.id}" }
                %td= sgu.user.name
                %td= sgu.user.email
                %td= sgu.user.organization
                - if student_group.name == "All"
                  %td
                    = link_to 'add to student group', '#modal-student-group-user-add', data: {toggle: "modal"}, onclick: "$('#modal-student-group-user-add').find('#user-name').html('#{sgu.user.name}'); $('#modal-student-group-user-add').find('#user_id').val('#{sgu.user.id}'); $('#modal-student-group-user-add').find('#name-div').removeClass('has-error'); $('#modal-student-group-user-add').find('#student_group_name').val(''); $('#modal-student-group-user-add').find('#name-help').html('');"
                - else
                  %td
                    = link_to 'remove', instructor_student_group_user_remove_path(student_group_user_id: sgu.id), remote: :true, method: :post, data: { confirm: "Are you sure you want to delete Student Group User #{sgu.user.name}?" }

    %label Running Scenarios:
    - if @players.size == 0
      %dl
        none

    - @players.each do |player|
      %dl
        - if scenario = Scenario.find(player.group.scenario_id)
          %label= scenario.name
          %dl
            %b.inline login:
            = player.login
            %br
            %b.inline password:
            = player.password
            %br
            %b.iniline instructions:
            = scenario.instructions
            %br