%h3 Instructor Home

%dl
  %dt Welcome instructors. On this page you can change your account information and view your Student Groups. Don't worry about Student Groups for now, you can test the Scenarios without them. They will be completed shortly though.
  %p
  /A Student Group is a collection of users. When you launch a Scenario you can specify which student groups are on which Teams in the Scenario. This gives all students in the Student Group login credentials for the Scenario. The student can login to this site to view those credentials. If you are just testing Scenarios out for yourself you do not need to worry about creating any Student Groups for now. Click 'edit' under Student Groups to manage them.
  %p

  %label Getting Started:
  %br
  Click on the 'SCENARIOS' button on the top of the page to create a new Scenario.
%p
%div
  %h3 Student Groups:
  %dl
    - if @student_groups.size == 0
      = "none"
    - @student_groups.each do |student_group|
      %dt
      %b Name:
      = student_group.name
      %b Size:
      = @student_groups_size[student_group.name]
    %p
    = link_to 'edit', student_groups_path, class: 'btn btn-primary'

%div
  %h3 Account Information: 
  %dl
    %dt
      Name: 
      =@user.name
    %dt 
      Email:
      =@user.email
    %dt Password: ********
    %dt
      = link_to 'edit', edit_user_registration_path, class: 'btn btn-primary'
    %dt 
      Last Sign In:
      =@user.last_sign_in_at
      From:
      =@user.last_sign_in_ip 

