<% if @role.errors.any? %>
  <% if @role.errors[:running].any? %>
    $('#modal-role-package-add').find('#name-div').addClass('has-error');
    $('#modal-role-package-add').find('#name-help').text('<%= escape_javascript(@role.errors[:running][0]).html_safe %>');
  <% elsif @role.errors[:packages].any? %>
    $('#modal-role-package-add').find('#name-div').addClass('has-error');
    $('#modal-role-package-add').find('#name-help').text('<%= @role.errors[:packages][0] %>');
  <% end %>
<% else %>
  $('#role-<%= @role.id %>-packages').append(
    "<li id='role-<%= @role.id %>-package-<%= @package.filename_safe %>'><%= @package %> " + 
    "<a href='/scenarios/<%= @role.scenario.id %>/role_package_remove?role_id=<%= @role.id %>&name=<%= @package %>' data-method='post' rel='nofollow' data-remote='true'>remove</a>" + 
    "</li>"
  );
  $('#modal-role-package-add').modal('toggle');
  $('#save-button-li').attr('class', '');
  $('#save-button').attr('href', '/scenarios/<%= @role.scenario.id %>/save');
  update_flash("Added Package '<%= @package %>' to Role '<%= @role.name %>'.");
<% end %>