<% if @recipe %>
  <% if @recipe.errors.any? %>
    <% if @recipe.errors[:name].any? %>
      $('#modal-role-recipe-add').find('#name-div').addClass('has-error');
      $('#modal-role-recipe-add').find('#name-help').text('<%= @recipe.errors[:name][0] %>');
    <% end %>
  <% else %>
    <% if @role_recipe.errors.any? %>
      <% if @role_recipe.errors[:recipe_id].any? %>
        $('#modal-role-recipe-add').find('#name-div').addClass('has-error');
        $('#modal-role-recipe-add').find('#name-help').text('<%= @role_recipe.errors[:recipe_id][0] %>');
      <% end %>
      <% if @role_recipe.errors[:running].any? %>
        $('#modal-role-recipe-add').find('#help-div').addClass('has-error');
        $('#modal-role-recipe-add').find('#help-help').text('<%= @role_recipe.errors[:running][0] %>');
      <% else %>
        $('#modal-role-recipe-add').find('#help-div').removeClass('has-error');
        $('#modal-role-recipe-add').find('#help-help').text('');
      <% end %>
    <% else %>
      $('#role-<%= @role.id %>-recipes').append("<li id='role-recipe-<%= @role_recipe.id %>'><%= @role_recipe.recipe.name %> <a href='/scenarios/<%= @role.scenario.id %>/role_recipe_remove?role_recipe_id=<%= @role_recipe.id %>' data-method='post' rel='nofollow' data-remote='true'>remove</a></li>");
      $('#modal-role-recipe-add').modal('toggle');
      $('#save-button-li').attr('class', '');
      $('#save-button').attr('href', '/scenarios/<%= @recipe.scenario.id %>/save');
      update_flash("Added role '<%= @role.name %>' to scenario.");
    <% end %>
  <% end %>
<% else %>
  $('#modal-role-recipe-add').find('#name-div').addClass('has-error');
  $('#modal-role-recipe-add').find('#name-help').text('Recipe not found');
<% end %>