%h3= "#{@scenario.name} - #{@student.name}"

- @scenario.questions.each_with_index do |question, index|
  = (index + 1).to_s + "." + question.question_text
  %dl
    / - correct = question.answers.where("student_id = #{@student.id} AND correct = 't'")
    / - incorrect = question.answers.where("student_id = #{@student.id} AND correct = 'f'")
    / - correct.each do |answer|
    /   %dt
    /     %span.correct
    /       = answer.answer_text
    / %p
    / - incorrect.each do |answer|
    /   %dt
    /     %span.incorrect
    /       = answer.answer_text
    - if question.answers.where("student_id = #{@student.id}").first
      = question.answers.where("student_id = #{@student.id}").first.answer_text.gsub("\n", "<br>").remove("\r").html_safe
  %p