<% if @player.errors.any? %>
	<% if @player.errors[:login].any? %>
		$('#modal-add-player').find('#login-div').addClass('has-error');
    $('#modal-add-player').find('#login-help').text('<%= @player.errors[:login][0] %>');
	<% else %>
		$('#modal-add-player').find('#login-div').removeClass('has-error');
    $('#modal-add-player').find('#login-help').text('');
	<% end %>
	<% if @player.errors[:password].any? %>
		$('#modal-add-player').find('#password-div').addClass('has-error');
    $('#modal-add-player').find('#password-help').text('<%= @player.errors[:password][0] %>');
	<% else %>
		$('#modal-add-player').find('#password-div').removeClass('has-error');
    $('#modal-add-player').find('#password-help').text('');
	<% end %>
<% else %>
	$('#modal-add-player').modal('toggle');
	$('#players-table-group-<%= @group.id.to_s %>').append("<tr id='group-table-player-<%= @player.id.to_s %>'><td></td>-<td></td>-<td>-</td><td><%= @player.login %></td><td><%= @player.password %></td><td><a href='/scenarios/<%= @player.id %>/delete_player' data-method='post' rel='nofollow' data-remote='true'>delete</a></td>");
<% end %>