%div.modal#modal1{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          %span#modal-log-name
          \- Log

      %div.modal-body#modalbody
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-bash-history{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          %span#modal-log-name
          \- Bash History

      %div.modal-body#modalbody
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

// Scenario
%div.modal#modal-modify-scenario{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Modify Scenario: 
          %span#modal-scenario-name
            hi       
      %div.modal-body#modalbody
        = form_tag modify_scenario_path(@scenario), remote:true, method: :post do
          %div#name-div 
            = label_tag "Name:", nil, class: 'control-label'
            = text_field_tag "name", nil, class: 'form-control'
            %span.help-block#name-help
          %p
          %div#help-div
            %span.help-block#help-help

          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-clone-scenario{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          = "Clone Scenario: #{@scenario.name}"
          %span#modal-title
      %div.modal-body#modalbody
        = form_tag clone_scenario_path(@scenario), remote: true, method: :post do 
          %span#group
          %p
          %div#name-div
            = label_tag nil, "Name:"
            = text_field_tag "name", nil, class: 'form-control'
            %span.help-block.inline#name-help
          
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close


// Cloud
%div.modal#modal-add-cloud{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Add Cloud
      %div.modal-body#modalbody
        = form_tag cloud_add_scenario_path(@scenario), remote:true, method: :post do 
          %div#name-div
            = label_tag "Name:", nil, class: 'control-label'
            = text_field_tag "name", nil, class: 'form-control'
            %span.help-block.inline#name-help
          %p
          %div#cidr-div
            = label_tag nil, "CIDR:", class: 'control-label'
            = text_field_tag "CIDR", nil, class: 'form-control'
            %span.help-block.inline#cidr-help
          %p
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-modify-cloud{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Modify:
          %span#modal-title
      %div.modal-body#modalbody
        = form_tag cloud_modify_scenario_path(@scenario), remote:true, method: :post do 
          = hidden_field_tag 'cloud_id'
          %div#name-div
            = label_tag "Name:", nil, class: 'control-label'
            = text_field_tag "name", nil, class: 'form-control'
            %span.help-block#name-help
          %p
          %div#cidr-div
            = label_tag nil, "CIDR:", class: 'control-label'
            = text_field_tag "cidr_block", nil, class: 'form-control'
            %span.help-block#cidr-help
          %p
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close


// Subnet
%div.modal#modal-modify-subnet{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Modify:
          %span#subnet-name
      %div.modal-body#modalbody
        = form_tag subnet_modify_scenario_path(@scenario), remote:true, method: :post do 
          = hidden_field_tag 'subnet_id'
          %div#name-div
            = label_tag "Name:", nil, class: 'control-label'
            = text_field_tag "name", nil, class: 'form-control'
            %span.help-block#name-help
          %p
          %div#cidr-div
            = label_tag nil, "CIDR:", class: 'control-label'
            = text_field_tag "CIDR", nil, class: 'form-control'
            %span.help-block.inline#cidr-help
          %p
          %div#internet-accessible-div
            = label_tag nil, "Internet Accessible:", class: 'control-label'
            = select_tag "internet_accessible", "<option>false</option><option>true</option>".html_safe, class: "form-control"
            %span.help-block.inline#internet-accessible-help
          %p

          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-add-subnet{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Add Subnet
      %div.modal-body#modalbody
        = form_tag subnet_add_scenario_path, remote:true, method: :post do
          = hidden_field_tag 'cloud_id'
          %div#name-div
            = label_tag "Name:", nil, class: 'control-label'
            = text_field_tag "name", nil, class: 'form-control'
            %span.help-block.inline#name-help
          %p
          %div#cidr-div
            = label_tag nil, "CIDR:", class: 'control-label'
            = text_field_tag "cidr_block", nil, class: 'form-control'
            %span.help-block.inline#cidr-help
          %p
          %div#internet-accessible-div
            = label_tag nil, "Internet Accessible:", class: 'control-label'
            = select_tag "internet_accessible", "<option>false</option><option>true</option>".html_safe, class: "form-control"
            %span.help-block.inline#internet_accessible-help
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close


// Instance
%div.modal#modal-add-instance{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Add Instance
          %span#modal-title
      %div.modal-body#modalbody
        = form_tag instance_add_scenario_path(@scenario), remote:true, method: :post do 
          = hidden_field_tag 'subnet_id'
          %div#name-div
            = label_tag "Name:", nil, class: 'control-label'
            = text_field_tag "name", nil, class: 'form-control'
            %span.help-block.inline#name-help
          %p
          %div#ip-div
            = label_tag nil, "IP Address:", class: 'control-label'
            = text_field_tag "ip", nil, class: 'form-control'
            %span.help-block.inline#ip-help
          %p
          %div#internet-accessible-div
            = label_tag nil, "Internet Accessible:", class: 'control-label'
            = select_tag "internet_accessible", options_for_select(["true", "false"]), class: 'form-control'
            %span.help-block.inline#internet-accessible-help
          %p
          %div#os-div
            = label_tag nil, "Operating System:", class: 'control-label'
            / = select_tag "os", options_for_select(["ubuntu", "nat"]), class: 'form-control'
            = select_tag "os", options_for_select(["ubuntu", "nat"]), class: 'form-control'
            %span.help-block.inline#os-help
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-modify-instance{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Modify Instance:
          / %span#instance-name
      %div.modal-body#modalbody
        = form_tag instance_modify_scenario_path(@scenario), remote:true, method: :post do 
          = hidden_field_tag 'instance_id'
          %div#name-div
            = label_tag "Name:", nil, class: 'control-label'
            = text_field_tag "name", nil, class: 'form-control'
            %span.help-block.inline#name-help
          %p
          %div#ip-div
            = label_tag nil, "IP Address:", class: 'control-label'
            = text_field_tag "ip_address", nil, class: 'form-control'
            %span.help-block.inline#ip-help
          %p
          %div#internet-accessible-div
            = label_tag nil, "Internet Accessible:", class: 'control-label'
            = select_tag "internet_accessible", options_for_select(["true", "false"]), class: 'form-control'
            %span.help-block.inline#internet-accessible-help
          %p
          %div#os-div
            = label_tag nil, "Operating System:", class: 'control-label'
            / = select_tag "os", options_for_select(["ubuntu", "nat"]), class: 'form-control'
            = select_tag "os", options_for_select(["ubuntu", "nat"]), class: 'form-control'
            %span.help-block.inline#os-help
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close


// Player

%div.modal#modal-add-player{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          
      %div.modal-body#modalbody
        = form_tag player_add_scenario_path(@scenario), remote:true, method: :post do 
          = hidden_field_tag 'group_id'
          %div#login-div
            = label_tag nil, "Login:", class: 'control-label'
            = text_field_tag "login", nil, class: 'form-control'
            %span.help-block.inline#login-help
          %p
          %div#password-div
            = label_tag nil, "Password:", class: 'control-label'
            = text_field_tag "password", nil, class: 'form-control'
            %span.help-block.inline#password-help
          %p
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-add-student-group{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          = "#{@scenario.name} - Add Student Group"
          %span#modal-title
      %div.modal-body#modalbody
        = form_tag player_student_group_add_scenario_path(@scenario), remote:true, method: :post do 
          = hidden_field_tag 'group_id'
          = label_tag nil, "Group:"
          %span#group
          %p
          %div#student-group-div
            = label_tag nil, "Student Group:"
            = select_tag "student_group", options_for_select(@user.student_groups.pluck(:name)), class: 'form-control'
            %span.help-block.inline#student-group-div-help
          
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-remove-student-group{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          = "#{@scenario.name} - Remove Student Group"
          %span#modal-title
      %div.modal-body#modalbody
        = form_tag player_student_group_remove_scenario_path(@scenario), remote:true, method: :post do 
          = hidden_field_tag 'group_id'
          = label_tag nil, "Group:"
          %span#group
          %p
          %div#student-group-div
            = label_tag nil, "Student Group:"
            = select_tag "student_group", options_for_select(@user.student_groups.pluck(:name)), class: 'form-control'
            %span.help-block.inline#student-group-div-help
          
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

// Recipe

%div.modal#modal-add-global-recipe{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
      %div.modal-body#modalbody

      %div.modal-footer
        %div#helper-div
          %span.help-block.inline#helper

        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-add-custom-recipe{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
      %div.modal-body#modalbody
        = form_tag recipe_custom_add_scenario_path(@scenario), remote: true, method: :post, id:'form' do
          = hidden_field_tag 'role_id'
          %div#name-div
            = label_tag nil, "Name:"
            = text_field_tag "recipe", nil, class: 'form-control'
            %div.help-block#name-help
          %br
          = label_tag nil, "Content:"
          = text_area_tag "text", nil, class: 'form-control', style: "height: 500px;"
          

      %div.modal-footer
        %div#helper-div
          %span.help-block.inline#helper

        %button{ class: 'btn btn-default', onclick: "$('#modal-add-custom-recipe').find('#form').submit()"}
          Save

%div.modal#modal-view-recipe{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title

      %div.modal-body#modalbody
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-update-recipe{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
      %div.modal-body#modalbody
        = form_tag recipe_update_scenario_path(@scenario), remote: true, method: :post, id:'form' do
          = hidden_field_tag 'recipe'
          = hidden_field_tag 'role_id'
          = text_area_tag "text", nil, class: 'form-control'
          %br
          
        %div#helper

      %div.modal-footer
        %button{ class: 'btn btn-default', onclick: "$('#modal-update-recipe').find('#form').submit()"}
          Save