%input{ type: 'checkbox', id: 'item-scenario', checked: 'checked'}
%label{ for: 'item-scenario'}
  / = "Scenario: " + @scenario.name
  Scenario:
  %div{ class: 'inline-block ' + @scenario.status, id: 'scenario-status-dot' }
    &#9679;

  - if @scenario.booting?
    %div.spin.inline-block{ id: 'scenario-spinner' }
  - else
    %div.inline-block{ id: 'scenario-spinner' }

%div.inline-block
  %div.dropdown
    %button.btn.btn-default.dropdown-toggle{type:'button', id:'dropdown-scenario-'+@scenario.id.to_s, "data-toggle" => 'dropdown', "aria-expanded" => "true"}
      / %span.glyphicon.glyphicon-pencil{"aria-hidden" => "true"}
      %span.caret
    %ul.dropdown-menu{role: 'menu', "aria-labelledby" => 'dropdown-scenario'+@scenario.id.to_s}
      %li{role: 'presentation'}
        = link_to 'Show log', get_log_scenario_path(@scenario, kind: 'scenario'), method: :post, remote: true
      %li{role: 'presentation'}
        = link_to 'Modify', "#modal-modify", method: :post,  :data => {:toggle=>"modal"}

%ul{style: "padding-left: 20px;"}
  %li
    Scenario name:
    %span#scenario-name
      = @scenario.name
  %li
    Status:
    %span#scenario-status
      = @scenario.status
  %li
    Created at:
    = @scenario.created_at
  %p
  %li
    %input{ type: 'checkbox', id: 'item-cloud-label-' + @scenario.id.to_s, checked: 'checked'}
      %label{ for: 'item-cloud-label-' + @scenario.id.to_s}
        Clouds:
      %div.inline-block
        %div.dropdown
          %button.btn.btn-default.dropdown-toggle{type:'button', id:'dropdown-clouds', "data-toggle" => 'dropdown', "aria-expanded" => "true"}
            %span.caret
          %ul.dropdown-menu{role: 'menu', "aria-labelledby" => 'dropdown-clouds'}
            %li{role: 'presentation'}
              = link_to 'Add Cloud', "#modal-add-cloud", method: :post, :data => {:toggle=>"modal"}

      %ul#clouds-ul{style: "padding-left: 20px;"}
        - @scenario.clouds.each do |cloud|
          = render '/scenarios/show/clouds', cloud: cloud
