- answers = question.student_answers(user.id)
%table.table{ id: "student-#{user.id}-question-#{question.id}-answers-table", class: "student-#{user.id}-answers", question_id: question.id, question_index: question_index, answer_cnt: answers.size }
  - if question.type_of == "String" or question.type_of == "Number"
    %tr
      %th Answer
      %th Correct
      %th Points
      %th Comments
      %th Date
    - answers.each_with_index do |answer, answer_index|
      = render '/scenarios/show/student_answer', answer: answer, answer_index: answer_index, question: question, question_index: question_index, user: user

  - elsif question.type_of == "Essay"
    %tr
      %th
      %th Answer
      %th Graded
      %th Points Awarded
      %th Points Possible
      %th Comments
      %th Date
      - if answers
        - answers.each_with_index do |answer, answer_index|
          = render '/scenarios/show/student_answer', answer: answer, answer_index: answer_index, question: question, question_index: question_index