<%# add navigation links to this file %>
<li><%= link_to 'Scenarios', scenarios_path %></li>
<li><%= link_to 'Clouds', clouds_path %></li>
<li><%= link_to 'Subnets', subnets_path %></li>
<li><%= link_to 'Instances', instances_path %></li>
<li><%= link_to 'Groups', groups_path %></li>
<li><%= link_to 'Players', players_path %></li>
<li><%= link_to 'Roles', roles_path %></li>
<li><%= link_to 'Cleanup Scenarios', management_status_path %></li>
